<?php

return [
    'phpro_encoding_com' => [

        /*
         * Provide API credentials
         */
        'api' => [
            'user_id' => '',
            'user_key' => '',
        ],

        /*
         * Notify information
         * - notify_route defaults to encodingcom/notify
         * - The notify service should implement NotifyInterface
         */
        'notify' => [
            'format' => 'xml',
            'notify_route' => 'encodingcom/notify',
            'notify_service' => 'custom-notify-service-key',
        ],

        /*
         * Enable a local tunnel for local testing.
         * The host is the subdomain on which the application runs.
         * E.g. the ngrok domain when you want to use the ngrok service.
         */
        'local_tunnel' => [
            'enabled' => false,
            'host' => 'subdomain.ngrok.com',
        ],

        /*
         * A unique hash to protect the /encoding-com/notify page.
         */
        'hash' => '',
    ],
];